worlds["world"] = "$SERVER_PATH/world/"

end_smooth_lighting = [Base(), EdgeLines(), SmoothLighting(strength=0.5)]

renders["day"] = {
    "world": "world",
    "title": "Daytime",
    "rendermode": smooth_lighting,
    "dimension": "overworld",
}

renders["night"] = {
    "world": "world",
    "title": "Nighttime",
    "rendermode": smooth_night,
    "dimension": "overworld",
}

renders["nether"] = {
    "world": "world",
    "title": "Nether",
    "rendermode": nether_smooth_lighting,
    "dimension": "nether",
}

renders["end"] = {
    "world": "world",
    "title": "End",
    "rendermode": end_smooth_lighting,
    "dimension": "end",
}

outputdir = "$SERVER_PATH/$MAP_DIR/"
